body{
	font-family: Verdana;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	text-align:center;
}
h1{
	margin-top:-10px;
	margin-bottom:-15px;
}
p{
	font-size:1.0rem;
}
input {
	font-size: 1.25rem;
	font-weight: bold;
}
.labels{
	font-size: 3.0rem;
	font-weight: bold;
}
button{
	font-size: 1.5rem;
	padding: 8px;
	border-radius: 10px;
	border: none;
	background-color: hsl(210,100%,50%);
	color: white;
	font-weight: bold;
	cursor: pointer;
}
button:hover{
	background-color: hsl(210,100%,60%);
}
button:active{
	background-color: hsl(210,100%,70%);
}